
.footer{
    background-color:rgb(77, 77, 77);
    color: white;
    width: 100%;
}
.arriba-2{
    display: flex;
    gap: 10px;
    padding-left: 8%;
    color: rgba(204,204,204,1);
}
.medio{
    color: rgba(168,168,168,1);
    padding-left: 8%;
}
.abajo-2{
    display: flex;
    width: 100%;
    padding-left: 8%;
    margin-top: 25px;
}
.izquierda{
    display: flex;
    gap: 25px;
    width: 50%;
    justify-content: left;
    align-items: center;
}

.izquierda .facebook{
    width: 3%;
}
.izquierda div{
    width: 4%;
}
.logos{
    width: 50%;
}
.networkLogos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.logos img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 700px) {
    .arriba-2,
  .medio,
  .abajo-2,
  .izquierda,
  .logos,
  .networkLogos {
    padding-left: 15%;
  }

  .arriba-2,
  .medio {
    font-size: 16px; /* Reducción de tamaño de texto en 7px */
  }
  }
  